@media (min-width: 1024px) {
    .container {
        width: 960px;
    }

    .button-landing-page:hover {
        background-color: white;
        color: black;
    }

    .offer-grid-item {
        transition-duration: 0.5s;
    }

    .offer-grid-item:hover:hover {
        transform: scale(1.05);
    }
}
