@media (min-width: 1024px) {
  .container {
    width: var(--width-desktop);
  }

  .not-allowed {
    cursor: not-allowed;
  }

  .button-landing-page:hover {
    background-color: var(--color-text);
    color: var(--color-text-black);
  }

  .offer-grid-item {
    transition-duration: 0.5s;
  }

  .offer-grid-item:hover:hover {
    transform: scale(1.05);
  }
}
