:root {
  --width-sm: 150px;
  --width-desktop: 960px;
  --width-xl: 94%;
  --width-full: 100%;
  --height-full: 100%;
  --height-xs: 50px;
  --height-sm: 150px;
  --spacing-0: 0;
  --spacing-1: 10px;
  --spacing-2: 15px;
  --spacing-3: 20px;
  --spacing-4: 30px;
  --spacing-5: 50px;
  --fontWeight-bold: 700;
  --lineHeight-normal: 1.3;
  --fontSize-0: 16px;
  --fontSize-1: 18px;
  --fontSize-2: 20px;
  --fontSize-3: 24px;
  --fontSize-4: 36px;
  --color-background-gray: #4e4e4e;
  --color-background-section: #f1f1f1;
  --color-background-blue: #405d78;
  --color-background-orange: #e07a64;
  --color-shadow: rgba(0, 0, 0, 0.15);
  --color-text: #ffffff;
  --color-text-blue: #152d41;
  --color-text-black: black;
  --color-accent: #d1dce5;
}

body {
  font-family: "Roboto", sans-serif;
  height: var(--height-full);
}

h1,
h2,
span {
  font-weight: var(--fontWeight-bold);
}

h1 {
  font-size: var(--fontSize-4);
  color: var(--color-text);
  line-height: var(--lineHeight-normal);
  margin-bottom: var(--spacing-4);
}

h2 {
  font-size: var(--fontSize-2);
}
span {
  font-size: var(--fontSize-0);
}

.text-white {
  color: var(--color-text);
}

.text-blue {
  color: var(--color-text-blue);
}

.text-black {
  color: var(--color-text-black);
}
