body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    color: white; 
    line-height: 42px;
    margin-bottom: 30px;
}

h2 {
    font-size: 18px;
    font-weight: bold;
}
span {
    font-weight: bold;
    font-size: 16px;
}

.text-white {
    color: white;
}

.text-blue {
    color: #152D41;
}

.text-black {
    color: black;
}