.menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: var(--spacing-4) var(--spacing-3);
  position: relative;
  user-select: none;
}

.menu-icon .navicon {
  background-color: var(--color-background-primary);
  display: block;
  height: 2px;
  position: relative;
  transition: background-color 0.2s ease-out;
  width: 20px;
}

.menu-icon .navicon:before,
.menu-icon .navicon:after {
  background: #f4f4f4;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.menu-icon .navicon:before {
  top: 5px;
}

.menu-icon .navicon:after {
  top: -5px;
}

.menu-btn {
  display: none;
}

.dropdown-content {
  list-style-type: none;
  display: none;
  position: absolute;
  background-color: var(--color-background-primary);
  min-width: 160px;
  top: 58px;
  right: 20px;
  box-shadow: 0px 8px 16px 0px var(--color-shadow);
  padding: var(--spacing-1) var(--spacing-2);
  z-index: 4;
}

.dropdown-content ul {
  margin: var(--spacing-0);
  padding: var(--spacing-0);
  list-style: none;
  overflow: hidden;
  background-color: var(--color-background-primary);
  color: var(--color-text-black);
  width: 256px;
}

.dropdown-content li {
  width: 300px;
}

.dropdown-content li a {
  display: block;
  font-size: var(--fontSize-0);
  line-height: var(--lineHeight-relaxed);
  color: var(--color-text-black);
  border: 0px solid white;
  padding: var(--spacing-3) var(--spacing-3);
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.dropdown-content li:hover {
  background-color: var(--color-background-primary);
}

.dropdown-content li a:hover {
  color: var(--color-text-black);
}

.menu-btn:checked ~ .dropdown-content {
  display: block;
}

.menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
