





.offer {
    background-color: #405D78;
    padding: 50px 0;
}



.grid-offer {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50%;
    grid-gap: 7%;
    width: 750px;
    height: 500px;
    margin: 50px auto;
}

.grid-item-offer {
    position: relative;
    background-color: #F1F1F1;
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center; 
}
.grid-item-offer:hover {
    transform: scale(1.05);
    transition-duration: 0.5s;
}
.grid-item-offer h2 {
    font-size: 24px;
    font-weight: normal;
    color: black;
    width: 50%;
}

.grid-item-offer span {
    font-size: 16px;
    font-weight: normal;
}

.circle-offer {
    position: absolute;
    left: -11px;
    top: -11px; 
    width: 22px;
    height: 22px;
    background: #E07A64;
    border-radius: 50%;
}

footer {
    height: 70px;
    background-color: #4E4E4E;
}
.container-flex-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 7%;
}

i {
    color: white;
    font-size: 30px;
    width: 100%;
}
